@import "reset.css";
@import "styles.css";
@import "loader.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-full bg-stone-900 text-white;
}

h1 {
  @apply text-2xl font-semibold;
}
h2 {
  @apply text-xl;
}

::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  border-radius: 80px;
  @apply bg-slate-400;
  background-clip: content-box;
}

::-webkit-scrollbar {
  width: 20px;
}

.firebase-emulator-warning {
  display: none;
}
